@using ClairvoyantSQL.Models

@model List<Contact>


<p>Number of Contacts: @Model.Count</p>

<p></p>



<h1>Contacts</h1>
<a asp-controller="Contacts" asp-action="Add">Add Contact</a>



<table class="table">
    <tr class="font-weight-normal">
        <th>
            First
        </th>

        <th>
            Last
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            Contact Label
        </th>
        
    </tr>

    @foreach (var cnt in Model)
            {
                <tr>
                    <td>@cnt.FirstName</td>
                    <td>@cnt.LastName</td>
                    <td>@cnt.Phone</td>
                    <td>@cnt.Email</td>
                    <td>@cnt.Category.Name</td>
                    <td><a asp-controller="Contacts" asp-action="Edit" asp-route-id="@cnt.Id">Edit</a></td>
                </tr>
                   

            }
    </table>


